%a{ name: 'about' }
#about_div_wrapper
  .content
    %h1#about_h1_style
      About
    %p#about_p1_style
      I am a spirited, jubilant young developer that is looking for employment as a Ruby on Rails developer for a team that moves fast and has fun doing it!
    %p#about_p2_style
      I am a very impassioned individual that is looking to grow as a developer. I am looking for a company that is collaborative in nature and one with which I can grow. I enjoy energetic, fast paced environments where teams are very driven to succeed but has fun doing it! I am a paladin when it comes to the company I work for and will devote everything I have to see it succeed, including: nights, weekends, working on tasks such as analytics and marketing, whatever it takes to get things moving forward.
    %p#about_p2_style
      Some of my awesome skills:
    %ul#about_ul_style
      %li
        Ruby
      %li
        Rails
      %li
        JavaScript/jQuery
      %li
        HTML5/HAML
      %li
        CSS3/SCSS
      %li
        PostgreSQL
      %li
        Git
      %li
        RSpec
      %li
        Heroku

