%a{ name: 'about' }
#about_div_wrapper
  .content
    %p{ style: 'padding-top: 120px'}
      Self-taught Junior Ruby on Rails developer with a little over a year experience. 
    %p
      Add some skills here: Ruby, Rails, HTML5, CSS3, JQury, JS, Bootstrap, HAML