%a{ name: 'contact' }
#contact_div_wrapper
  .content
    %div
      %p{ style: 'padding-top: 120px'}
        linkedin
    %div
      %p
        Github
    %div
      %p
        Contact Form
    %div
      %p
        Footer