#nav_wrapper
  #logo
    %a
      
  #nav
    %ul
      %li
        %a{ href: 'home', class: "active", data: { scroll_to_anchor: 'home'}}
          Home
      %li
        %a{ href: 'about', data: { scroll_to_anchor: 'about'}}
          About
      %li
        %a{ href: 'projects', data: { scroll_to_anchor: 'projects'}}
          Projects
      %li
        %a{ href: 'blog', data: { scroll_to_anchor: 'blog'}}
          Blog
      %li
        %a{ href: 'contact', data: { scroll_to_anchor: 'contact'}}
          Contact