%a{ name: 'projects' }
#projects_div_wrapper
  .content
  #projects_wrapper
    %h1#project_h1_style
      Projects
    %div.project 
      %p
        project 1
    %div.project 
      %p
        project 2
    %div.project 
      %p
        project 3