%a{ name: 'projects' }
#projects_div_wrapper
  .content
    %div
      %p{ style: 'padding-top: 120px'}
        project 1: add a scroll over for breif detail..clickable to full page discription
    %div
      %p
        project 2: add a scroll over for breif detail..clickable to full page discription
    %div
      %p
        project 3: add a scroll over for breif detail..clickable to full page discription